<!-- <div class="section" id="projects">
    
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Projects</div>
        <div class="row">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge up bg-green">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="h5 mt-0 title">SENSEI Technologies</div>
                                <div class="h6 mt-0 title">Software Engineer (2022-06 - Present)</div>
                                <p align="justify">
                                    Sensei Technologies delivers innovative technology solutions, specializing in the Web, Mobile, Tablets, and Cloud. With expertise in Financial Services, Healthcare, Supply Chain, and Manufacturing, we offer consulting, solution design, and development services.
                                </p>
                                <p align="justify">Working as a Full Stack Developer on multiple teams, handling Angular on the client-side and Spring Boot on the server-side, with MySQL as the database.</p>
                                
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Development</li>
                                        <li class="non_list">Web Development</li>
                                    </ul>
                                    <li class="list">Technologies and Languages</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Spring Boot</li>
                                                <li class="non_list">Spring</li>
                                                <li class="non_list">Hibernate</li>
                                                <li class="non_list">Lambda Expression</li>
                                                <li class="non_list">Modular Construction</li>
                                                <li class="non_list">Angular Framework</li>
                                                <li class="non_list">HTML5</li>
                                                <li class="non_list">Bootstrap</li>
                                                <li class="non_list">Sourcetree</li>
                                                <li class="non_list">Redmine</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Java</li>
                                                <li class="non_list">HQL</li>
                                                <li class="non_list">REST APIs</li>
                                                <li class="non_list">Microservices</li>
                                                <li class="non_list">MySQL</li>
                                                <li class="non_list">TypeScript</li>
                                                <li class="non_list">CSS</li>
                                                <li class="non_list">IntelliJ IDEA</li>
                                                <li class="non_list">Git</li>
                                                <li class="non_list">Visual Studio</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->
<div class="section" id="projects">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Projects</div>
        <div class="row">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge up bg-green">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-8 ">
                                <div class="h5 mt-0 title">Financial Services Platform Enhancement</div>
                                <div class="h6 mt-0 title">Software Engineer</div>
                                <p align="justify">
                                    Contributed to the team at a leading financial services company in India in
                                    enhancing their financial services platform. Specialized in Spring Boot server-side
                                    development and MySQL query optimizations for streamlined gold loan processes.
                                    Collaborated effectively with Angular and Android development teams, demonstrating
                                    adaptability and proactive problem-solving.
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Development</li>
                                        <li class="non_list">Web Development</li>
                                    </ul>
                                    <li class="list">Technologies and Languages</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Spring Boot</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">MySql</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="timeline-badge down">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-8 ">
                                <div class="h5 mt-0 title">Gold Inspection Management System</div>
                                <div class="h6 mt-0 title">Software Engineer</div>
                                <p align="justify">
                                    Spearheaded the development of an Android, web, and mobile application for gold
                                    inspection in collaboration with
                                    a leading financial services company. The project aimed to streamline gold quality
                                    inspection processes across
                                    branches, facilitating efficient loan management. Utilized Spring Boot for
                                    server-side development in Java, Angular
                                    for web application, and Android for mobile app development. Acted as the primary
                                    developer for Angular and
                                    also contributed significantly to server-side development and MySQL database
                                    management. Collaborated closely
                                    with a teammate responsible for Android, server-side, and MySQL tasks, ensuring
                                    smooth integration and
                                    functionality. Managed code releases and contributed suggestions during client
                                    meetings, showcasing adaptability
                                    and proactive problem-solving skills.
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Development</li>
                                        <li class="non_list">Web Development</li>
                                    </ul>
                                    <li class="list">Technologies and Languages</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Spring Boot</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Angular Framework</li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">MySql</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Java</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge down">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-8 ">
                                <div class="h5 mt-0 title">Vehicle Financing Management System</div>
                                <div class="h6 mt-0 title">Software Engineer</div>
                                <p align="justify">
                                    Contributed to a four-person development team in creating a comprehensive Vehicle
                                    Financing Management System for a prominent NBFC in Central and West India.
                                    Leveraged
                                    Spring Boot for server-side development, Angular for frontend, and MySQL for
                                    database
                                    management. Played a pivotal role in both server and client-side development,
                                    implementing
                                    features such as OTP login and a generic page loader in Angular. Collaborated
                                    closely with
                                    teammates, participated in database design, and contributed to version control using
                                    Git and
                                    SourceTree. Engaged in client meetings, providing valuable insights to enhance
                                    system
                                    functionality and user experience.
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Development</li>
                                        <li class="non_list">Web Development</li>
                                    </ul>
                                    <li class="list">Technologies and Languages</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Spring Boot</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Angular Framework</li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">MySql</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Java</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge down">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-lg-8 ">
                                <div class="h5 mt-0 title">Non-Profit Organization Management System</div>
                                <div class="h6 mt-0 title">Software Engineer</div>
                                <p align="justify">
                                    Played a pivotal role in the technical upgrade of an older application to a
                                    Non-Profit
                                    Organization Management System for a prominent client in the social sector. Tasked
                                    with
                                    leading the Admin module development within a team of over 11 developers and a Team
                                    Lead. Oversaw code merging processes and conducted code reviews, ensuring adherence
                                    to
                                    coding standards and client requirements.
                                    Responsible for understanding client requirements and providing suggestions for
                                    generic
                                    coding solutions across multiple areas of the application. Facilitated the merger of
                                    code
                                    from various branches into the Admin module branch, ensuring smooth integration and
                                    compatibility. Actively engaged in client meetings to grasp project specifications
                                    and offer
                                    insights for optimizing system functionality and user experience. Utilized
                                    technologies such
                                    as Spring Boot, Angular, and MySQL to implement the upgrade, enhancing the
                                    efficiency and
                                    effectiveness of non-profit organization management processes.
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <ul>
                                    <li class="list">Core Functionality</li>
                                    <ul>
                                        <li class="non_list">Software Development</li>
                                        <li class="non_list">Web Development</li>
                                    </ul>
                                    <li class="list">Technologies and Languages</li>
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Spring Boot</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Angular Framework</li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">MySql</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">Java</li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">Redmine</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">SourceTree</li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <li class="non_list">HTML5</li>
                                            </div>
                                            <div class="col-md-6">
                                                <li class="non_list">TypeScript</li>
                                            </div>
                                        </div>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>